
<div class="">
  <p>
    </br>
    </br>
  </p>
</div>

<div id="tabs">
  <ul>
    <li>
      <%= render partial: 'shared/work/1works', locals: { search_soft: @soft_1 } %> 
    </li>
    
    <li>
      <%= render partial: 'shared/work/1works', locals: { search_soft: @soft_2 } %> 
    </li>
    
    <li>
      <%= render partial: 'shared/work/1works', locals: { search_soft: @soft_3 } %> 
    </li>
    
  </ul>
</div>

<%= link_to "Sort Asc", sort_tabs_path(order: 'asc'), method: :post %>
<%= link_to "Sort Desc", sort_tabs_path(order: 'desc'), method: :post %>


<script>
  $(document).ready(function() {
    $("#tabs").railsSortable();
  });
</script>

<%= javascript_pack_tag 'apply_samples/index' %>
