<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<h3>apply_sample</h3>
<%= link_to "一覧へ", apply_samples_path %>



<h5>home</h5>
<%= link_to "一覧へ", homes_path %>

<%= link_to "詳細へ", home_path %>

<h5>sample</h5>
<%= link_to "一覧へ", samples_path %>

<%= link_to "詳細へ", sample_path %>

<h5>back</h5>
<%= link_to "一覧へ", backs_path %>

<%= link_to "詳細へ", back_path %>

<h5>sample</h5>
<%= link_to "一覧へ", samples_path %>

<%= link_to "詳細へ", sample_path %>

<h5>swiper</h5>
<%= link_to "一覧へ", swipers_path %>

<%= link_to "詳細へ", swiper_path %>

<h5>button</h5>
<%= link_to "一覧へ", buttons_path %>

<%= link_to "詳細へ", button_path %>