<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>

<h5>home</h5>
<%= link_to "一覧へ", homes_path %>

<%= link_to "一覧へ", homes_path %>

<h5>sample</h5>
<%= link_to "一覧へ", samples_path %>

<%= link_to "詳細へ", sample_path %>

<h5>back</h5>
<%= link_to "一覧へ", backs_path %>

<%= link_to "詳細へ", back_path %>